castel.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="VDUCMediaConfig">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="Label"/>
                <xs:element name="MediaConfig">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="Label"/>
                            <xs:element name="CommandCode" maxOccurs="3" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:string" name="Label"/>
                                </xs:sequence>
                                <xs:attribute type="xs:string" name="Code"/>
                            </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:byte" name="AudioCodec"/>
                            <xs:element name="withVideo">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:float" name="FPS"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="GId"/>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="Forward" use="optional"/>
            </xs:sequence>
            <xs:attribute type="xs:int" name="GId"/>
        </xs:complexType>
    </xs:element>
</xs:schema>