share/xml/imdn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.linphone.org/xsds/imdn.xsd" 
		xmlns:tns="http://www.linphone.org/xsds/imdn.xsd" 
		elementFormDefault="qualified">

	<xs:element name="reason" type="tns:LinphoneImdnReason"></xs:element>

	<xs:complexType name="LinphoneImdnReason">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="code" type="xs:int" use="required" default="200"></xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>
